main-top {
  background-color: blue;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

html {
  font-size: 62.5%;
}

body {
  height: auto;
  width: auto;
  font-size: 1.4rem;
}

name-bar {
  background-color: white;
}

.container {
  height: 100%;
  width: 100%;
}

.catch {
  width: 100%;
  height: 100%;
}

.space {
  width: auto;
  height: 1rem;
}

.row {
  padding: 10px 10px 10px 10px;
  margin: auto;
}

.DGGW {
  float: right;
  font-size: 3rem;
  width: 55rem;
  height: 100%;
}

.DGGW-main {
  padding-right: 5rem;
}

.for-line {
  width: 30rem;
}

.line {
  height: 3px;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
}

.topview {
  font-size: 3.5rem;
  padding: 1rem 1rem 1rem 5rem;
  text-align: left;
}

.phi-top {
  font-size: 2.2rem;
}

.phi-text {
  font-size: 1.2rem;
}

.Philo {
  width: 400px;
  float: left;
}

.leftcon {
  width: 45rem;
  padding: 5rem 4rem 2rem 4rem;
}

.Works {
  margin-left: 4rem;
  margin-bottom: 4rem;
}

.works-top {
  font-size: 2.5rem;
  margin: 1rem 0 1rem 0;
}

.works-body {
  width: 400px;
}

.works-text {
  padding-left: 0;
  font-size: 1.2rem
}

.cont {
  width: 100%;
  height: 100%;
}

.con1 {
  width: 10rem;
  height: 10rem;
  margin: 2rem 2rem 2rem 2rem;
}

.con2 {
  width: 10rem;
  height: 10rem;
  margin: 2rem 0 2rem 2rem;
}

.GRAPHIC {
  width: 10rem;
  height: 3.5rem;
  padding: 0.5rem 1.1rem 0.6rem 1.1rem;
  margin: 10px 0px 10px 0px;
  font-size: 1.8rem;
  background-color: black;
  color: white;
  text-align: auto;
}

.GRAPHIC1, .GRAPHIC2 {
  width: 12rem;
  float: right;
  text-align: auto;
}

.speed {
  width: 100%;
  height: 7rem;
  font-size: 1.6rem;
  text-align: right;
}

.btn1, .btn2, .btn3, .btn4 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.comname {
  margin: auto;
}

.contact {
  font-size: 2rem;
  padding: 3rem 0 2rem 0;
  text-align: center;
}

.contact-bottom {
  width: 100%;
  height: 150px;
  background-color: black;
}

.far {
  width: 3rem;
  height: 3rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-radius: 50%;
  background-color: white;
}

.contact-text {
  font-size: 3rem;
  color: white;
}

/*ボタン切り替え用*/
.hidden_box {
  padding: 0;
  width: 10rem;
}

/*ボタン装飾*/
.hidden_box label {
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

/*アイコンを表示*/
.hidden_box label:before {
  display: inline-block;
  content: '\f078';
  font-family: 'FontAwesome';
  padding-right: 0.2rem;
  transition: 0.2s;
}

/*アイコンを切り替え*/
.hidden_box input:checked~label:before {
  content: '\f00d';
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  color: #668ad8;
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked~.hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}
